/*Clearfix*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  /*background: url("background2.png");*/
  padding: 0;
}

html {
  /*overflow-y: scroll;*/
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0 auto;
}

body {
  position: relative;
  margin: auto;
  min-height: 100%;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: rgba(0,0,0,0.02);
  padding: 0;
}

header {
  margin: 0 auto;
  display: block;
  color: #4a5154;
  border-bottom: 2px solid #99baef;
  width: 100%;
  background-color: #ffffff;
  padding-top: 0;
}

footer {
  background-color: #eeeeee;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-parent {
  padding-top: 64px;
}

.introduction {
  margin-bottom: 20px;
}

.mainContent {
  margin: 0 auto;
  margin-top: 15px;
  display:block;
  background-color: #ffffff;
  width: 800px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.08);
}

.mainHeaderText {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: left;
  width: 800px;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}


/* Basic Inputs section*/

.scottishtax {
  float: right;
}

/* end Basic Inputs section*/


/* Advanced settings section */
.advanced-section {
  width: 600px;
}

.advanced-header {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #eeeeee;
  -ms-user-select: none;
  user-select: none;
}

.advanced-header::after {
  content: "\002B";
  float: right;
}

.advanced-header.active::after {
  content: "\2212";
}

.advanced-content {
  width: 100%;
  border: 2px solid #eeeeee;
  border-top: none;
  display: none;
  padding: 10px;
}

.advanced-header.active + .advanced-content {
  display: block;
}
/* end Advanced settings box */



/* Tabbed radio button box */
label.radiobox-label {
  /* display: block; - leaves a small gap to the right - doesn't seem to like 33.33% width, but flex seems to handle it fine?*/
  display: flex;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  background: white;
  float: left;
  width: 33.333333333333333%;
  padding: 6px 0 6px 0;
  -ms-user-select: none;
  user-select: none;
}

label.radiobox-label:nth-of-type(2) {
  border-left: 1px solid #b2b2b2; /* rbga(0,0,0,0.3), rgb(178,178,178) */
  border-right: 1px solid #b2b2b2;
}

:checked+label.radiobox-label {
  border-top: 3px solid #99baef;
  margin-top: -1px;
  padding-top: 4px;
  padding-bottom: 7px;
  border-bottom: none;
}

:not(:checked)+label.radiobox-label {
  background-color: #eeeeee;
  border-bottom: 1px solid #b2b2b2;
}

:not(:checked)+label.radiobox-label:hover {
  background-color: #dedede;
}

:checked+label.radiobox-label:hover {
  background-color: #f8f8f8;
}

.top-wrapper {
  box-shadow: 3px 3px 5px #cccccc; /* rbga(0,0,0,0.2), rgb(204,204,204) */
  border-top: 1px solid rgba(0,0,0,0.3);
  border-left: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.3);
  z-index: 2;
}

/*adding a line before bottom wrapper*//*
.bottom-wrapper::before {
  position: relative;
  bottom: 50px;
  content: "";
  display: block;
  border-bottom: 1px solid black;
  width: 100%;
}*/
/*//adding a line*/

.bottom-wrapper {
  margin-top: -2px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px #cccccc;
  border: 1px solid rgba(0,0,0,0.3);
  z-index: 3;
}

.radiobox {
  width: 281px;
  margin: 20px;
  margin-top: 30px;
  float: left;
}
/* end of Tabbed radio button box */


#pieChart {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  height: 200px;
  width: 400px;
}

@media screen and (max-width: 817px) {
  .mainContent {
    /*width: 100vw;*/
    width: 100%;
    margin: 0;
  }
  .mainHeaderText {
    /*width: 100vw;*/
    width: 100%;
  }
  .advanced-section {
    width: 80vw;
  }
  .radiobox {
    margin: 0 auto;
    margin-top: 30px;
    float: none;
  }
  footer {
    /*width: 100vw;*/
    width: 100%;
  }
  #pieChart {
    width: 90vw;
  }
}
